.main_container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.input_container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10vh;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}